// Reset
@import 'base/reset';

// Helpers
@import 'helpers/mixins';
@import 'helpers/variables';

// Layout
@import 'base/layout';

// Components
@import 'components/logo';

body {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue","Helvetica", sans-serif;
  font-size: 100%;
  background-color: $body-background-right;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
  @media (min-width: 600px) {
      flex-direction: row;
      overflow: hidden;
  }
}

a {
  color: #fff;
}

h1 {
    color: #85b99c;
    font-family: $font-heading;
    margin: 0;
    padding: 0;
    position: relative;
}

