/*------------------------------------*\
    Module: content
\*------------------------------------*/

/*------------------------------------*\
    Block
\*------------------------------------*/

.content {
    padding: 0 rem($content--padding);
    font-size: rem($content--font-size);
    line-height: $content--line-height;
    text-align: $content--align;
}

/*------------------------------------*\
    Elements
\*------------------------------------*/

/*------------------------------------*\
    Modifiers
\*------------------------------------*/

.content--is-about {

}

.content--is-intro {

}


