/*------------------------------------*\
    Module: main
\*------------------------------------*/

/*------------------------------------*\
    Block
\*------------------------------------*/

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    @media (min-width: rem(600)) {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
}


/*------------------------------------*\
    Elements
\*------------------------------------*/

.main__half {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: rem(600)) { 
        width: 50vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: pxtorem(10);
    }
}

.main__overlay {
    display: none;
}

.main__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/*------------------------------------*\
    Modifiers
\*------------------------------------*/

.main--left {
    height: 40vh;
    @media (min-width: rem(600)) {
        height: 100%;
    }
}

.main--right {
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;
    height: 60vh;
    background: $main--right-background;
    display: block;
    @media (min-width: rem(400)) {
        display: flex;
        flex-direction: column;
        height: 60vh;
        overflow: auto;
    }
    @media (min-width: rem(600)) {
        height: 100%;
    } 
}