/*------------------------------------*\
    Module: main
\*------------------------------------*/

/*------------------------------------*\
    Block
\*------------------------------------*/

.main {
    width: 100%;
    height: 100vh;
    position: relative;
}


/*------------------------------------*\
    Elements
\*------------------------------------*/

.main__half {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__overlay {
    display: none;
}

.main__wrapper {

}

/*------------------------------------*\
    Modifiers
\*------------------------------------*/

.main--left {
    height: 40vh;
}

.main--right {
    display: block;
    overflow-y: auto;
    height: 60vh;
    background: $main__right-background;
}