/*------------------------------------*\
    Module: menu
\*------------------------------------*/

/*------------------------------------*\
    Block
\*------------------------------------*/

.menu {
    display: none;
}

/*------------------------------------*\
    Elements
\*------------------------------------*/

.menu__line {

}

/*------------------------------------*\
    Modifiers
\*------------------------------------*/

.menu--close {
    display: none;
}

.menu--line-close {

}
