/*------------------------------------*\
    JS Modifiers toggleNav
\*------------------------------------*/

.is--toggle-nav {

    .main__overlay {
        display: block;
    }

    .main__half {
        display: none;
    }

    .menu--open {
        opacity: 0;
    }

    .menu--close {
        opacity: 1;
    }

    .content--about {
        display: none;
    }

    .nav {
        display: flex;
    }

}


